argcomplete==2.0.0
async-generator==1.10
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
click==8.0.4
cryptography==35.0.0
cycler==0.11.0
docopt==0.6.2
fonttools==4.33.3
gmpy2==2.1.2
h11==0.13.0
idna==2.8
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.4
outcome==1.1.0
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
pipreqs==0.4.11
pipx==1.0.0
protobuf==3.17.3
pycparser==2.20
pyftdi==0.53.3
pyOpenSSL==21.0.0
pyparsing==3.0.7
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2022.1
pyusb==1.2.1
requests==2.22.0
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
torch==1.11.0
torchvision==0.12.0
tqdm==4.63.0
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.2.0
urllib3==1.25.11
userpath==1.8.0
wsproto==1.0.0
yarg==0.1.9
